<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails102-2
        <br>Design by
        <a href="http://courses.growthschool.com/courses/rails-102-2/" target=_new>xdite</a>
    </P>
</footer>          
